<h1><a href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/admin">Admin</a>
</h1>

<h1>API Links</h1>


<p><strong>all items: </strong><a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/items">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/items</a>
</p>

<p><strong>all projects: </strong><a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/projects">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/projects</a>
</p>
<p><strong>all users: </strong><a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/users">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/users</a>
</p>

<p><strong>all items by project: </strong><a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/item/project/<project>">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/item/project/{project}</a>
</p>

<p><strong>By Id General: </strong><a href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/item/<id>
  ">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/item/{id}</a>
</p>

<p><strong>By Id Project: </strong><a href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/item/project/<project>/id/<id>
  ">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/item/project/{project}/id/{id}</a>
</p>


<p><strong>By supplier: </strong><a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/item/project/<project>/supplier/<supplier>">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/item/project/{project}/supplier/{supplier}</a>
</p>


<p><strong>By date: </strong> <a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/item/project/<project>/date/<date>">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/item/project/{project}/date/{date}</a>
</p>


<h2>Calculation APIs</h2>

<p><strong>Total Price: </strong> <a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/total_price/<project>">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/total_price/{project}</a>
</p>

<p><strong>Total by item: </strong> <a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/price_by_item/<project>">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/price_by_item/{project}</a>
</p>

<p><strong>Avg by item: </strong> <a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/avg_price_by_item/<project>">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/avg_price_by_item/{project}</a>
</p>

<p><strong>Qty by item: </strong> <a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/qty_by_item/<project>">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/qty_by_item/{project}</a>
</p>

<p><strong>Total price by item and Supplier: </strong> <a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/price_by_item_supplier/<project>">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/price_by_item_supplier/{project}</a>
</p>

<p><strong>Avg price by item and Supplier: </strong> <a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/avg_price_by_item_supplier/<project>">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/avg_price_by_item_supplier/{project}</a>
</p>

<p><strong>Total by supplier: </strong> <a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/total_price_by_supplier/<project>">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/total_price_by_supplier/{project}</a>
</p>

<p><strong>Total by date: </strong> <a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/total_price_by_date/<project>">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/total_price_by_date/{project}</a>
</p>

<p><strong>Total by month: </strong> <a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/total_price_by_month/<project>">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/total_price_by_month/{project}</a>
</p>

<p><strong>Total by year: </strong> <a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/total_price_by_year/<project>">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/total_price_by_year/{project}</a>
</p>

<p><strong>Total by date range: </strong> <a
    href="http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/total_amount_by_date_range/<project>/<date>/<date2>">http://const-env.eba-tpb3puvc.us-west-2.elasticbeanstalk.com/api/total_amount_by_date_range/{project}/{date}/{date2}</a>
</p>



<p>{{total}}</p>